@{
    Layout = null;
}
    <!--this is css style ref-->
    <link rel="stylesheet" href="~/css/HomePageStyle.css" />

<h1>G<span>ames</span> C<span>ollection</span></h1>
    <h2>🎮Collection</h2>

<img src="~/lib/images/foreground image for home page.jpg" />
<div class="card">
    <img src="~/lib/images/white blank.png" />
    <h3>About</h3>
    <h2>Game Library</h2>
</div>