@{
    Layout = null;
}
    <!--this is css style ref-->
    <link rel="stylesheet" href="~/css/HomePageStyle.css" />

<h1>G<span>ames</span> C<span>ollection</span></h1>
    <h2 id="headerText">🎮Collection</h2>

<img src="~/lib/images/foreground image for home page.jpg" />
<div class="card">
    <h3>About</h3>
    <h2>Game <span id="textLibrary">Library</span></h2>
    <p>This is my game website project. I created this to improve my programming skills.
        In particular, ASP.NET MVC project creating skills.</p>
    <p id="secondText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
       laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
       architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas 
       sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
       voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
       consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et 
       dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
       ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem 
       vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
       vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
    <img class="icons" src="~/lib/images/icon console.png" />
    <h5 id="iconFirstTitle">App Development</h5>
    <p id="iconFirstText">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
    </p>
    <img class="icons" id="i2" src="~/lib/images/icon console.png" />
    <h5 id="iconSecondTitle">Game Design</h5>
    <p id="iconSecondText">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
    </p>
    <img class="icons" id="i3" src="~/lib/images/icon console.png" />
    <h5 id ="iconThirdTitle">Content Creation</h5>
    <p id="iconThirdText">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
    </p>
</div>